<!doctype html>
<html manifest="./manifest.appcache">
<meta charset="utf-8">
<title>Hărți haihui</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap.min.css">
<style>
.screenshot { margin: 30px 0; overflow: hidden; }
.screenshot-image { position: relative; left: 50%; margin-left: -480px; height: 150px; width: 960px; background: url(screenshot.jpg) no-repeat; }
</style>

<body>

<div class="container">
  <h1>haihui</h1>

  <p>O colecție de hărți pentru mers pe munte, optimizate pentru telefonul
  mobil, construite pe baza datelor din <a
  href="http://www.openstreetmap.org/">OpenStreetMap</a>. Hărțile conțin trasee
  marcate, poteci, șosele și râuri, cabane, curbe de nivel și puncte de relief
  (vârfuri, șei).</p>

  <div class="screenshot"><div class="screenshot-image"></div></div>

  <h2>Instalare</h2>

  <p>Hărțile sunt pagini web, funcționează în browserul telefonului mobil, nu e
  nevoie să instalezi nicio aplicație. La prima încărcare a unei zone aceasta
  va fi salvată automat în browser și va putea fi deschisă offline. Pentru
  localizare prin GPS dă click pe săgeata din dreapta jos. Al doilea click
  activează urmărirea poziției.</p>

  <h2>Regiuni</h2>

  <ul>
  {{#regionList}}
    <li><a href="{{slug}}/">{{title}}</a></li>
  {{/regionList}}
  </ul>

  <h2>Cum pot ajuta?</h2>

  <p>În primul rând, folosește hărțile, și <a id="contact-link">dă-ne
  feedback</a>! Spune-ne dacă aplicația funcționează cu probleme, sau dacă
  observi date greșite sau lipsă. Baza de date OpenStreetMap este <a
  href="http://wiki.openstreetmap.org/wiki/Beginners%27_Guide">construită de
  voluntari</a>, și dacă ne trimiți date colectate prin GPS, putem îmbunătăți
  harta.</p>

  <h2>Detalii tehnice</h2>

  <p>Pentru fiecare regiune, extragem datele din OpenStreetMap folosind
  serviciul <a href="http://overpass-api.de">Overpass</a>, le filtrăm și le
  convertim în format <a
  href="https://github.com/mbostock/topojson/wiki">TopoJSON</a>. Curbele de
  nivel provin din <a
  href="https://en.wikipedia.org/wiki/Shuttle_Radar_Topography_Mission">SRTM</a>.
  Împachetăm toate datele pentru o regiune într-un fișier JSON, cu mărimea
  între 150KB (Piatra Craiului) și 950KB (Făgăraș), redus la ~30% după
  compresie gzip. În browser, salvăm datele în <a
  href="https://en.wikipedia.org/wiki/Cache_manifest_in_HTML5">appcache</a>, și
  desenăm harta ca <a
  href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics">SVG</a>
  folosind <a href="http://d3js.org">D3.js</a> și multă creativitate. :)</p>

  <p><a href="https://github.com/mgax/haihui">Codul sursă</a> este disponibil
  pe GitHub. Datele sunt © <a
  href="http://www.openstreetmap.org/copyright">contributorii
  OpenStreetMap</a>. Suntem și <a
  href="https://www.facebook.com/HartiHaihui">pe facebook</a>.</p>
</div>

<script>
(function() {
  var c = 'rep.ro', b = 'haihui@g', a = 'mailto:';
  document.getElementById('contact-link').setAttribute('href', a+b+c);

  if(window.applicationCache) {
    applicationCache.addEventListener('updateready', function() {
      window.applicationCache.swapCache();
      window.location.reload();
    });
  }
})();
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    if(location.href.indexOf('haihui.grep.ro') == -1) return;
    var u="//apti.ro/trafic/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 7]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//apti.ro/trafic/piwik.php?idsite=7" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
