<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../ui.css">

<body>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="../turfbits.js"></script>
<script>window.app = {};</script>
<script src="../symbol.js"></script>
<script src="../ui.js"></script>
<script>app.load('data.json');</script>
