html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
}

.symbol text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.zoomrect {
    fill: none;
    pointer-events: all;
}

.segment {
    fill: none;
    stroke: black;
}

.contour {
    fill: none;
    stroke: #5a4c00;
    stroke-width: .3;
}

.contour-label {
    font-size: 10px;
    fill: #5a4c00;
}

.contour-minor {
    stroke-width: .1;
}

.symbol-osmc {
    .background {
        stroke: black;
    }

    .color-white { fill: white; }
    .color-red { fill: darkred; }
    .color-blue { fill: blue; }
    .color-yellow { fill: gold; }
    .color-black { fill: black}
}

.location {
    .midpoint {
        fill: #1382C7;
        fill-opacity: .5;
        stroke: #1382C7;
    }

    .accuracy {
        fill: #1382C7;
        opacity: .2;
    }
}

.scale {
    path, line {
      fill: none;
      stroke: black;
    }
}
